flask==2.0.1
Werkzeug==2.0.1
line-bot-sdk==3.5.0
openai==0.27.8
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0
python-dotenv==0.21.1
requests==2.31.0
gunicorn==20.1.0
SpeechRecognition==3.10.1
pydub==0.25.1 